{% extends 'doctor/doctorbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-center" style="font-family: 'Alkatra', cursive;">Appointments List</h1><hr><br>
<div class="row justify-content-center">
    <div class="col-xl-9">
        <table class="table table-info table-responsive">
          <thead>
            <tr>
              <th scope="col">SL.NO</th>
              <th scope="col">DOCTOR NAME</th>
              <th scope="col">DATE</th>
              <th scope="col">START TIME</th>
              <th scope="col">END TIME</th>
              <th scope="col">APPOINTMENT</th>

            </tr>
          </thead>
          <tbody>
          {% for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.Schedule.Doc_name}}</td>
              <td>{{i.Schedule.Date}}</td>
              <td>{{i.Schedule.Start_time}}</td>
              <td>{{i.Schedule.End_time}}</td>
              <td>
                {% if i.status == 0 %}
                <button type="button" class="btn btn-warning">Approval Pending</button>
                {% elif i.status == 1 %}
                <button type="button" class="btn btn-success">Appointment Confirmed</button>
                {% else %}
                <button type="button" class="btn btn-danger">Appointment rejected</button>

                {% endif %}
              </td>

            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>
</div>


{% endblock %}