{% extends 'doctor/doctorbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 style="text-align:center;font-family: 'Alkatra', cursive;"> Patients List</h1><hr><br>
<div class="row justify-content-center">
    <div class="col-xl-10 ">
        <table class="table table-info table-responsive">
          <thead>
            <tr>
              <th scope="col">SL.No</th>
              <th scope="col">PATIENT NAME</th>
              <th scope="col">AADHAR NO.</th>
              <th scope="col">EMAIL</th>

            </tr>
          </thead>
          <tbody>
          {%  for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.name}}</td>
              <td>{{i.aadhar_number}}</td>
              <td>{{i.email}}</td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>
</div>
{% endblock %}