{% extends 'doctor/doctorbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-center" style="font-family: 'Alkatra', cursive;">Our Departments</h1><hr><br>
<div class="container text-center">
  {% for i in data %}

  <div class="card text-center mx-2 shadow my-2" style="width: 18rem;display:inline-block;overflow:auto;width:300px;height:400px;">
    <div class="card-body">
      <h2 class="card-title text-dark" style="font-family: 'Alkatra', cursive;font-size:30px;">{{i.dept_name}}</h2>
      <h5 class="card-title">{{i.dept_desc}}</h5>

    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}