{% extends 'admin1/admindashboard.html' %}
{%load crispy_forms_tags %}
{% block content %}
<h1 class="text-center" style="font-family: 'Alkatra', cursive;">Appointment Requests</h1><hr><br>
{% for message in messages %}
<div class="alert alert-primary" role="alert">
  {{message}}
</div>
{% endfor %}
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-info table-responsive">
          <thead>
            <tr>
              <th scope="col">SL.NO</th>
              <th scope="col">PATIENT NAME</th>
              <th scope="col">DOCTOR NAME</th>
              <th scope="col">DATE</th>
              <th scope="col">START TIME</th>
              <th scope="col">END TIME</th>
              <th scope="col">APPOINTMENT</th>

            </tr>
          </thead>
          <tbody>
          {% for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.user.name}}</td>
              <td>{{i.Schedule.Doc_name}}</td>
              <td>{{i.Schedule.Date}}</td>
              <td>{{i.Schedule.Start_time}}</td>
              <td>{{i.Schedule.End_time}}</td>
              <td>
                {% if i.status == 0 %}
                <a href="{% url 'approve_app' i.id %}" type="button" class="btn btn-success">Approve</a>
                <form action="{% url 'reject_app' i.id %}" method="post" style="display:inline;" onsubmit="window.mytest()">
                  {% csrf_token %}
                  <input type="hidden" value="{{i.id}}" />
                  <button class="btn btn-danger">Reject</button>
                </form>
                {% elif i.status == 1 %}
                <button type="button" class="btn btn-success">Appointment Confirmed</button>
                {% else %}
                <button type="button" class="btn btn-danger">Appointment rejected</button>

                {% endif %}
              </td>

            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>
</div>
{% endblock %}