{% extends 'admin1/admindashboard.html' %}
{%load crispy_forms_tags %}
{% block title %}View Departments{% endblock title %}
{% block content %}
<h1 style="text-align:center;font-family: 'Alkatra', cursive;">These are the Doctor notifications</h1><br>
<div class="row justify-content-center">
    <div class="col-xl-9">
        <table class="table table-info table-responsive">
          <thead>
            <tr>
              <th scope="col">SL.No</th>
              <th scope="col">NOTIFICATION</th>
              <th scope="col">DATE</th>

              <th scope="col">DELETE</th>

            </tr>
          </thead>
          <tbody>
          {%  for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.subject}}</td>
              <td>{{i.date}}</td>

              <td><a href="{% url 'delete_docnotification' i.id %}"> <button type="button" class="btn btn-primary">DELETE</button></a></td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>
</div>

{% endblock %}