{% extends 'admin1/admindashboard.html' %}
{%load crispy_forms_tags %}
{% block title %}View Doctors{% endblock title %}
{% block content %}
<h1 style="text-align:center">These Are The Doctors Available</h1><hr><br>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-dark table-responsive">
          <thead>
            <tr>
              <th scope="col">SL.No</th>
              <th scope="col">DOCTORS NAME</th>
              <th scope="col">IMAGE</th>
              <th scope="col">UPDATE</th>
              <th scope="col">DELETE</th>

            </tr>
          </thead>
          <tbody>
          {%  for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.name}}</td>
              <td><img src="{{ i.Image.url }}" class="img-responsive rounded-circle" style="width:100px;height:100px; float: left; margin-right: 10px;" /></td>
              <td><a href="{% url 'update' i.id %}"> <button type="button" class="btn btn-primary">UPDATE</button></a></td>

              <td><a href="{% url 'doc_delete' i.id %}"> <button type="button" class="btn btn-primary">DELETE</button></a></td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>
</div>

{% endblock %}