{% extends 'admin1/admindashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-center" style="font-family: 'Alkatra', cursive;">Doctor Approval Requests</h1><hr><br>
{% for message in messages %}
<div class="alert alert-primary" role="alert">
  {{message}}
</div>
{% endfor %}
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-info table-responsive">
          <thead>
            <tr>
              <th scope="col">SL.No</th>
              <th scope="col">DOCTORS NAME</th>
              <th scope="col">IMAGE</th>
              <th scope="col">DEPARTMENT</th>
              <th scope="col">EMAIL</th>
              <th scope="col">ACTION</th>

            </tr>
          </thead>
          <tbody>
          {%  for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.name}}</td>
              <td><img src="{{ i.Image.url }}" class="img-responsive rounded-circle" style="width:100px;height:100px; float: left; margin-right: 10px;" /></td>
              <td>{{i.department}}</td>
              <td>{{i.email}}</td>
              <td>
                {% if i.status == 0 %}
                <a href="{% url 'approve_doc' i.user_id %}" type="button" class="btn btn-success">Approve</a>
                <form action="{% url 'reject_doc' i.user_id %}" method="post" style="display:inline;" onsubmit="window.mytest()">
                  {% csrf_token %}
                  <input type="hidden" value="{{i.id}}" />
                  <button class="btn btn-danger">Reject</button>
                </form>
                {% elif i.status == 1 %}
                <button type="button" class="btn btn-success">Approval Confirmed</button>
                {% else %}
                <button type="button" class="btn btn-danger">Approval rejected</button>
                {% endif %}
              </td>

            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>
</div>

{% endblock %}