{% extends 'admin1/admindashboard.html' %}
{%load crispy_forms_tags %}

{% block content %}
<h1 style="text-align:center;font-family: 'Alkatra', cursive;">Feedbacks</h1><hr><br>
<div class="row justify-content-center">
    <div class="col-xl-9">
        <table class="table table-info table-responsive">
          <thead>
            <tr>
              <th scope="col">SL.No</th>
              <th scope="col">DATE</th>
              <th scope="col">NAME</th>

              <th scope="col">FEEDBACKS</th>
              <th scope="col">RESPONSE</th>
            </tr>
          </thead>
          <tbody>
          {%  for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.date}}</td>
              <td>{{i.user}}</td>

              <td>{{i.feedback}}</td>
              <td><a href="{% url 'reply_feedback' i.id %}"> <button type="button" class="btn btn-primary">Reply</button></a></td>

            </tr>
          {% endfor %}

          </tbody>
        </table>

    </div>
</div>
<br>
<br>
<h1 class="text-center" style="font-family: 'Alkatra', cursive;">Feedback History</h1><hr><br>
<div class="row justify-content-center">
    <div class="col-xl-9">
        <table class="table table-info table-responsive">
          <thead>
            <tr>
              <th scope="col">SL.No</th>
              <th scope="col">DATE</th>
              <th scope="col">NAME</th>

              <th scope="col">FEEDBACKS</th>
              <th scope="col">RESPONSE</th>
            </tr>
          </thead>
          <tbody>
          {%  for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.date}}</td>
              <td>{{i.user}}</td>
              <td>{{i.feedback}}</td>
              <td>{{i.reply}}</td>


            </tr>
          {% endfor %}

          </tbody>
        </table>

    </div>
</div>



{% endblock %}