{% extends 'admin1/admindashboard.html' %}
{%load crispy_forms_tags %}
{% block title %}View Departments{% endblock title %}
{% block content %}
<h1 class="text-center" style="font-family: 'Alkatra', cursive;">Our Departments</h1><br>
<div class="row justify-content-center ">
    <div class="col-auto">
        <table class="table table-info table-responsive">
          <thead>
            <tr>
              <th scope="col-1">SL.No</th>
              <th scope="col-3">DEPARTMENT NAME</th>
              <th scope="col-5">DESCRIPTION</th>
              <th scope="col-3">DELETE</th>

            </tr>
          </thead>
          <tbody>
          {%  for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.dept_name}}</td>
              <td>{{i.dept_desc}}</td>
              <td><a href="{% url 'delete' i.id %}"> <button type="button" class="btn btn-primary">DELETE</button></a></td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>
</div>

{% endblock %}